@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lighten(v.$primary,15);
    color: v.$dark;
    align-items: center;

    .nav_top{
        width: 100%;
        max-width: v.$desktop;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: calc(v.$spacing/2);

        .nav_logo{
            font-size: 2.5rem;
            font-weight: v.$bold;
            color: v.$light;
            width: 5rem;
            height: 5rem;
            
            a{
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('../img/logo.avif');
                background-size: cover;
                background-position: center center;

                &:hover{
                    cursor: pointer;
                }
            }

            @include m.respond('movil'){
                width: 10rem;
                height: 10rem;
            }
        }

        .nav_controls{
            display: flex;
            align-items: center;
            gap: calc(v.$spacing / 2);

            @include m.respond('movil'){
                gap: v.$spacing;
            }

            .nav_link{
                color: v.$light;
                text-decoration: none;
                font-weight: v.$bold;
                transition: all 0.3s;

                &:hover{
                    background-color: v.$light;
                    color: v.$dark;
                }
            }
        }
    }

    .nav_bottom{
        padding: calc(v.$spacing / 2);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.respond('movil'){
            padding: calc(v.$spacing / 4);
        }

        .nav_list{
            display: flex;
            flex-direction: column;
            gap: calc(v.$spacing / 2);
            max-width: v.$desktop;
            list-style: none;
        
            @include m.respond('movil'){
                flex-direction: row;
                gap: v.$spacing;
            }
        }


    }
}